@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color:rgb(255, 255, 255);
    min-height: 100vh;
    overflow-x: hidden;

}
header {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;

}

.navigation {
  display:inline-block; 
  position: fixed; 
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 140px;
  z-index: 100;
  text-align: left;
  border-left: 3px solid #000000;
  background-color: transparent;
  transition: 0.3s ease;
  overflow-x: hidden; /* Oculta el contenido que no está visible en el ancho inicial */
}

.navigation:hover {
  background-color: rgba(157, 157, 157, 0.5); /* Ancho de la barra vertical al pasar el mouse */
  overflow-x: visible; /* Muestra todo el contenido al ampliar el ancho */
}

.navigation_1 {
  background-color: #fff;
}

.navigation a {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
  color: #000000;
  text-decoration:none;
}


.navigation_1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 9px 15px;
    margin-left: 0%;
    border-radius: 25px;
    margin: 0 10px;
    font-weight: 600;
    margin-bottom: x;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block    
}

.navigation_2 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 230%;
  padding: 9px 15px;
  border-radius: 25px;
  margin: 0 10px;
  margin-top: 250px;
  font-weight: 600;
  margin-bottom: x;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
  background-color: #000000;
  border-color: #ffffff;
  border-style:double;
   
}

.block {
    background-image:url("/PRINCIPAL/Images/giff.gif");
    box-sizing: content-box;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-top: -139px;
}


.tooltip {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 8px;
  font-size: 14px;
  pointer-events: none;
}

.parallax {
    background-image: url("/PRINCIPAL/Images/PARAL_G.gif");
    box-sizing: content-box;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 80vh;
    margin-bottom: 6%;
    padding-bottom: 20%;
    text-align: left;
}
.parallax h2 {
  margin-left: 14%;
  margin-top: -15%;

}
.parallax a {
  display: block;
  font-size:x-large;
  margin-top: 205px;
  margin-left: 14%;
  font-weight: 600;
  color: #000000;
  text-decoration:none;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.parallax a:hover,
.parallax a.active{
  background:#6d6d6d;
  color: #ffffff;
}
.navigation a:hover,
.navigation a.active {
    background: rgb(87, 83, 83);
    color: #ffffff;

}
.navigation_1 a:hover,
.navigation_1 a.active {
    background: rgb(82, 82, 82);
    color: #ffffff;

}

.navigation_2 a:hover,
.navigation_2 a.active {
    background: rgb(82, 82, 82);
    color: #ffffff;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #000000;
}

#text_1 {
  position: absolute;
  text-decoration: underline;
  font-size: 2em;
  color: #000000;
}


#text1 {
    position: absolute;
    top: 0;
    left: 0;
    align-items: top;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 2em;
    color: #000000;
}

#text2 {
    position: absolute;
    top: 0;
    right: 0;
    align-items: top;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 2em;
    color: #000000;
}
html{
    scroll-behavior:smooth;
}

.navigation_1-tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  
  .navigation_1-link:hover .navigation_1-tooltip {
    display: block;
  }

  .block h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: left;
    color: #000000;
  }
  
  .block h3 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    color: #000000;
  }
  
  .block svg {
    width: -130%;
    height: auto;
    margin-bottom: 1px;
    border: #000000;
  }

  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-right: 25%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .block .chart_2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 60%;
    
  }
  .block .chart_3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 40%;
    
  }

  .chart_2-container {
    width: 100%;
    }

    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      grid-column: 1 / span 2;
    }

  .block_4 svg {
    width: auto;
    height: auto;
    margin-bottom: 1px;
    margin-left: 1%;
    border-radius: 5%;
    border: #000000;
  }

  .title {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title h2 {
    margin: 0 0 10px 0;
  }
  
  .title h3 {
    margin-top: auto;
  }

  .chart{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
  }
  .title h4 {
    color: #000000;
    font-weight: 500;
    margin: auto;
  }

  .texto_normal {
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    color: #000000;
  }

  .texto_normal h4 {
    font-weight: 400;
  }
  
  footer {
    background-color: rgba(146, 132, 132, 0.097);
    padding: 50px;
    box-sizing: content-box;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .column {
    width: 30%;
  }
  
  .bibliography-column h1, .team-column h1 {
    font-weight: 700;
  }
  
   .team-column h2 {
    font-weight: 500;
  }
  
  .bibliography-column a, .team-column a {
    text-decoration: underline;
    color: #000;
  }
  
  .image-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-column img {
    max-width: 100%;
  }

  #sig {
    font-size: xx-large ;
    text-decoration:none;
    color: #000000;
    margin-left: 47%;
    font-weight: 500;
  }

  #sig:hover {
    color: #6d6d6d;
  }

  